{% extends "base.html" %} {% block title %}Change password{% endblock %} {% block content
    %}

    <FONT COLOR="#0000ff">
        <h3 align="center">Please change your password
      <form method="POST">
        <FONT COLOR="#0000ff">
     
        <div class="form-group">
          <h3 align="center">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
          />
        </div>
        <!---<div class="form-group">
          <h3 align="center">
          <label for="old password">Current password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
          />
        </div>-->
        <div class="form-group">
            <h3 align="center">
            <label for="New password">New password</label>
            <input
              type="password"
              class="form-control"
              id="password1"
              name="password1"
              placeholder="Enter new password"
            />
          </div>
          <div class="form-group">
            <h3 align="center">
            <label for="Confirm new password">Confirm new password</label>
            <input
              type="password"
              class="form-control"
              id="password2"
              name="password2"
              placeholder="Confirm new password"
            />
          </div>
          <FONT COLOR="#ff0000">
          the new password must be at least 8 characters!
        <br />
        <button type="submit" class="btn btn-primary">OK</button>
      </form>
      {% endblock %}
